@import "../../layout/style/base/setting";
@import "../../layout/style/base/breakpoints";

.post-pagination {
  display: flex;
  max-width: 50%;
  font-size: $font-medium;
  justify-content: space-between;
  align-items: center;
  margin: $relative-spacing-xlarge auto;
  transition: color $transition-function-easeinout $transition-time-normal;

  a:hover {
    color: var(--invert1);
  }

  > .pagination-number {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .active {
      color: var(--invert1);
    }
  }

  @include media-breakpoint-down($breakpoint-sm) {
    max-width: unset;
  }
}
