@import "../../layout/style/base/setting";

.post-tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  > li > a {
    margin-top: $spacing-small;
    margin-right: $spacing-small;
    padding: .5em;
    display: inline-block;
    border-radius: $base-border-radius;
    color: var(--link);
  }
}
